/* Configurações do site */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: white;
}

p, h2 {
    color: white;
    font-family: 'Lato', sans-serif;
}

ul {
    list-style: none;
}

.conteiner-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.conteiner-ul{ 
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    border-color: white;
    padding: 8px;
}

.imgs-icons{
    width: 20px;
    margin: 5px;
}

.conteiner-button-Icons {
    display: flex;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    transition: all 0.3s ease-in-out;
}

.button-contato {

}

.img-home-main{
    width: 200px;
    height: 200px;
}

.conteiner-home{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Animações do site */

.conteiner-button-Icons:hover {
    background-color: rgba(197, 0, 197, 0.719);
    transform: scale(1.0);
}